#services {
  .services {
    display: flex;
    margin-top: 120px;
    justify-content: center;
    .service {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 250px;
      margin: 0 20px;
      .img-wrapper {
        border: 3px solid #fdd136;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}