#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  .projects {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    .project {
      margin: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .photo {
        width: 300px;
        height: 300px;
        overflow: hidden;
        display: flex;
        justify-content: center;
      }
    }
  }
}