header {
  position: fixed;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: space-around;
  background: black;
  z-index: 5;
  &>div {
    display: flex;
    align-items: center;
  }
  nav {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      a {
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        font-family: Montserrat;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fdd135;
        &:hover,
        &.active {
          background: rgba(255, 255, 255, .5)
        }
      }
    }
  }
}